@media (max-width: 1190px) {
  .giant-panda {
    height: 390px;
    background-size: 157%;
    background-position: 28% 50%;
  }

  .donation {
    padding: 40px 0 31px 0;
  }

  .donation-info {
    margin-bottom: 42px;
  }

  .donation-heading-first {
    max-width: 778px;
    line-height: 47px;
  }

  .donation-text {
    margin-top: 30px;
  }

  .donation-card {
    padding: 22px 47px 30px 47px;
  }

  .card-heading {
    margin-bottom: 11px;
  }
  
  .amount-text {
    margin-left: 18px;
  }

  .money-radio-buttons {
    width: 810px;
    margin: 0 auto;
    padding: 8px 10px 8px 12px;
  }

  .money-radio-labels {
    justify-content: flex-end;
    margin-right: 8px;
  }

  .dollars-5000-selector,
  .dollars-5000 {
    display: none;
  }

  .footer-center {
    margin: 0 0 0 6px;
  }

  .footer-right {
    margin-left: 76px;
  }
}
