@media (max-width: 1599px) {
  @media (min-width: 1000px) {
    .giant-panda {
      height: 390px;
      background-size: 157%;
      background-position: 28% 50%;
    }

    .donation {
      padding: 40px 0 31px 0;
    }

    .donation-info {
      margin-bottom: 42px;
    }

    .donation-heading-first {
      line-height: 130%;
    }

    .donation-text {
      margin-top: 30px;
    }

    .donation-card {
      padding: 22px 47px 30px 47px;
    }

    .card-heading {
      margin-bottom: 11px;
    }

    .amount-text {
      margin-left: 18px;
    }

    .money-radio-buttons {
      width: 810px;
      margin: 0 auto;
      padding: 8px 10px 8px 12px;
    }

    .money-radio-labels {
      justify-content: flex-end;
      margin-right: 8px;
    }
  }

  @media (min-width: 640px) {
    .footer-center {
      margin: 0 0 0 6px;
    }
  }

  .donation-heading-first {
    max-width: 778px;
  }

  .dollars-5000-selector,
  .dollars-5000 {
    display: none;
  }

  .footer-right {
    margin-left: 76px;
  }
}

@media (max-width: 999px) {
  @media (min-width: 640px) {
    .giant-panda {
      height: 369px;
      background-size: 210%;
      background-position: 37% 44%;
    }

    .donation-info {
      margin-bottom: 33px;
    }

    .donation {
      padding: 30px 0 47px 0;
    }

    .donation-text {
      margin: 20px 0 33px 0;
    }

    .donation-card {
      padding: 30px 0 0 0;
    }

    .card-heading {
      margin: 0 0 24px 0;
    }

    .card-text {
      margin-bottom: 52px;
    }

    .amount-text {
      margin: 31px 0 7px 10px;
    }

    .money-radio-buttons {
      padding: 8px 34px 8px 34px;
    }

    .money-radio-labels {
      padding: 0 22px 0 18px;
    }

    .radio-label ~ .dollars-50 {
      margin-right: 16px;
    }

    .period-inputs {
      margin: 32px 19px 29px 0;
    }

    .donation-button {
      margin-left: 1px;
    }

    .donations-text-bottom {
      margin: 32px 0 33px 0;
    }
  }

  .header {
    z-index: 1;
  }

  .donation-heading-first {
    font-size: 24px;
    line-height: 120%;
  }

  .card-text {
    text-align: center;
  }

  .money-radio-buttons {
    width: auto;
    max-width: 810px;
  }

  .money-radio-line {
    width: 87%;
    bottom: 49%;
  }

  .dollars-2000-selector,
  .dollars-2000 {
    display: none;
  }

  .dollars-1000-selector,
  .dollars-1000 {
    display: none;
  }

  .money-radio-labels {
    justify-content: space-between;
    margin-right: 0;
  }

  .radio-label {
    margin: 0;
  }

  .another-amount {
    width: 180px;
    padding: 10px 5px;
  }
}

@media (max-width: 639px) {
  .giant-panda {
    height: 221px;
    background-size: 236%;
    background-position: 33% 38%;
  }

  .donation {
    padding: 31px 0 21px 0;
  }

  .donation-text {
    margin: 20px 0 31px 0;
  }

  .donation-heading-second {
    font-size: 24px;
  }

  .donation-info {
    margin-bottom: 30px;
  }

  .donation-card {
    padding: 21px 0 0 0;
  }

  .card-panda {
    margin-right: 0;
  }

  .card-heading {
    margin: 0 0 10px 0;
    font-size: 24px;
  }

  .card-text {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 140%;
  }

  .card-panda-amount {
    margin-top: 27px;
  }

  .panda-amount-number {
    font-size: 40px;
  }

  .panda-amount-text {
    font-size: 9px;
    line-height: normal;
  }

  .panda-amount-x-icon {
    width: 8px;
    margin: 20px 36px 0 6px;
  }

  .panda-amount-panda-img {
    margin-top: 5px;
    margin-bottom: 0;
    width: 160px;
  }

  .amount-text {
    margin: 4px 0 9px 0;
  }

  .money-radio-buttons {
    padding: 4px 17px 4px 17px;
  }

  .money-radio-line {
    height: 1px;
  }

  .radio-selection {
    width: 5px;
    height: 5px;
  }

  .radio-selection:checked {
    outline-width: 1px;
    outline-offset: 7px;
  }

  .money-radio-labels {
    margin-top: 6px;
    padding: 0 11px 0 9px;
    gap: unset;
  }

  .radio-dollar-icon {
    width: 5px;
  }

  .radio-text {
    font-size: 13px;
  }

  .dollars-50 {
    margin-right: 8px;
  }

  .another-amount {
    margin-top: 25px;
  }

  .period-inputs {
    margin: 26px 21px 27px 0;
  }

  .donation-button {
    margin-left: 0;
  }

  .donations-text-bottom {
    font-size: 15.9px;
    margin: 32px 0 22px 0;
  }

  .footer-container-mobile {
    padding-bottom: 23px;
  }
}
