.header-donate {
  cursor: pointer;
}

.giant-panda {
  height: 386px;
  background: url(../../assets/images/giant-panda.jpg) no-repeat center / cover;
}

.donation {
  background: var(--orange-grad);
  padding: 44px 0 180px 0;
}

.donation-info {
  margin-bottom: 63px;
}

.donation-info > * {
  margin-block: 0;
}

.donation-text {
  margin: 10px 0 50px 0;
  font-weight: 500;
  line-height: 22px;
}

.donation-heading-second {
  color: var(--or3);
}

.donation-heading-first,
.donation-text {
  color: var(--white);
}

.donation-heading-first,
.donation-heading-second {
  font-weight: 400;
  font-size: 36px;
}

.donation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 92px 46px 92px;
  background: var(--white-transparent);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.card-heading {
  margin: 0 13px 23px 0;
  font-weight: 400;
  font-size: 48px;
  color: var(--or3);
}

.card-text {
  align-self: flex-start;
  margin-block: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 24px;
  color: var(--black-blue);
}

.card-panda {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.card-panda-amount {
  margin-top: 33px;
}

.card-panda-amount > * {
  margin-block: 0;
}

.panda-amount-number {
  color: var(--black);
  font-weight: 500;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
}

.panda-amount-text {
  color: var(--black-blue);
  line-height: 22px;
}

.panda-amount-x-icon {
  margin: 17px 64px 0 11px;
}

.panda-amount-panda-img {
  margin-bottom: 10px;
}

.amount-text {
  align-self: flex-start;
  margin: 38px 0 17px 3px;
  line-height: 22px;
}

.money-radio-selector {
  align-self: stretch;
}

.money-radio-buttons {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px 8px 26px;
  background: var(--cyan-blue);
  border-radius: 2px;
}

.money-radio-line {
  position: absolute;
  z-index: -1;
  margin: 0;
  width: 94%;
  bottom: 50%;
  height: 2px;
  border-width: 0;
  color: var(--cyan-blue-light);
  background: var(--cyan-blue-light);
}

.radio-selection {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: var(--yellow);
  border-radius: 50%;
}

.radio-selection:checked {
  outline: 3px solid var(--or3);
  outline-offset: 10px;
}

.money-radio-labels {
  max-width: 950px;
  margin-top: 13px;
  display: flex;
  justify-content: flex-start;
  gap: 61px;
}

.radio-label {
  display: flex;
}

.radio-dollar-icon {
  filter: invert(16%) sepia(7%) saturate(1504%) hue-rotate(163deg)
    brightness(95%) contrast(79%);
}

.radio-dollar-icon_checked {
  filter: invert(68%) sepia(95%) saturate(2586%) hue-rotate(348deg)
    brightness(99%) contrast(102%);
}

.radio-text {
  font-weight: 500;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 36px;
  color: var(--black-blue);
}

.radio-text_checked {
  color: var(--or3);
}

.dollars-250 {
  margin-left: 15px;
}

.dollars-100 {
  margin-left: 15px;
}

.dollars-50 {
  margin-left: 15px;
}

.dollars-25 {
  margin-left: 29px;
}

.another-amount-container {
  margin-top: 50px;
  position: relative;
  display: flex;
}

.another-amount {
  width: 268px;
  margin-top: 50px;
  padding: 16px 9px;
  background: url(../../assets/icons/misc/dollar_icon_gray.svg) 96% 50%
    no-repeat;
  border: 1px solid var(--cyan-blue-verylight);
  border-radius: 2px;
  -moz-appearance: textfield;
}

.another-amount::placeholder {
  color: var(--cyan-blue-verylight);
}

.another-amount::-webkit-outer-spin-button,
.another-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.another-amount-icon {
  filter: invert(60%) sepia(9%) saturate(123%) hue-rotate(163deg)
    brightness(96%) contrast(92%);
}

.period-inputs {
  margin: 27px 16px 30px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.period-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.period-input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: transparent;
  outline: 1px solid var(--or3);
  border-radius: 50%;
}

.period-input:checked {
  background: var(--or3);
}

.period-label {
  line-height: 22px;
  color: var(--black-blue);
}

.donation-button {
  margin-left: 6px;
  padding: 17px 73px;
  background: var(--orange);
  border: 0;
  border-radius: 25px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 500;
}

.donations-text-bottom {
  margin-top: 33px;
  color: var(--black-blue);
}