@media (max-width: 1599px) {
  @media (min-width: 1000px) {
    .header {
      position: relative;
    }

    .giant-panda {
      background-size: 120%;
    }

    .giant-panda-heading {
      margin: 43px 63px 41px 0;
      font-size: 85px;
    }

    .giant-panda-circle {
      width: 367px;
      height: 367px;
      bottom: 6px;
      right: 84px;
    }

    .giant-panda-button {
      margin: 0 107px 47px 0;
    }

    .flowers-bg {
      background: url(../../assets/images/leaves/palm_foto-mobile.png) no-repeat
          bottom left,
        url(../../assets/images/leaves/strelitzia1.png) no-repeat bottom right /
          24%;
    }

    .bamboo-cap-container {
      padding-top: 100px;
      margin-bottom: 141px;
    }

    .bamboo-cap-small-img {
      display: initial;
      margin-top: 9px;
      height: 408px;
    }

    .bamboo-cap-text {
      flex-basis: 454px;
    }

    .pets-container {
      gap: 81px;
    }

    .pets-card {
      background: none;
      border: 1px solid var(--or3);
    }

    .pets-card:hover {
      border-color: transparent;
    }

    .pets-card-img {
      width: 294px;
    }

    .card-bottom {
      margin: 4px 14px 11px 16px;
    }

    .pets-button {
      margin-bottom: 140px;
    }

    .pets-arrow-mobile-container {
      gap: 171px;
    }

    .feed-a-friend {
      padding: 30px 0 50px 0;
    }

    .friend-heading-first {
      margin: 31px 0 23px 0;
    }

    .friend-subtitle {
      margin-bottom: 21px;
    }

    .friend-subtitle,
    .friend-text-bold,
    .friend-text {
      margin-left: 49px;
      margin-right: 48px;
    }

    .friend-heading-second {
      margin: 43px 0 42px 0;
    }

    .friend-button {
      margin: 72px 0 50px 0;
    }

    .testimonials {
      padding: 103px 0 140px 0;
      background-size: 21%;
      background-position: 101% 122%;
    }

    .testimonials-cards-container {
      justify-content: space-between;
      gap: unset;
    }

    .testimonials-card {
      flex-basis: 293px;
      padding-top: 10px;
    }

    .testimonials-slider {
      width: 390px;
      margin: 21px 12px 52px 0;
    }

    .testimonials-slider::-webkit-slider-thumb {
      width: 75px;
    }

    .testimonials-slider::-moz-range-thumb {
      width: 75px;
    }

    .footer-center {
      margin: 0 0 0 -7px;
    }

    .footer-right {
      margin-left: 89px;
    }
  }

  @media (min-width: 640px) {
    .pets-arrow-mobile-container {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
    }

    .pets-arrow-mobile {
      margin: -6px 0;
    }

    .testimonials-heading {
      margin: 0 0 33px 0;
    }

    .testimonials-card {
      padding-top: 10px;
    }
  }

  .header {
    z-index: 1;
  }

  .bamboo-cap-img {
    display: none;
  }

  .bamboo-cap-paragraph_first {
    line-height: 21px;
  }

  .bamboo-cap-paragraph_second {
    line-height: 22px;
  }

  .pets-arrow {
    display: none;
  }

  .cheetah-card {
    display: none;
  }

  .alligator-card {
    display: initial;
  }

  .pets-card:hover > .card-bottom {
    padding: 0 10px;
  }

  .friend-text-bold {
    line-height: 21px;
    margin-bottom: 10px;
  }

  .testimonials-card-bottom {
    margin-top: 12px;
  }

  .oskar-card {
    display: none;
  }

  .oska-card {
    display: initial;
  }

  .mila-card {
    display: none;
  }
}

@media (max-width: 999px) {
  @media (min-width: 640px) {
    .giant-panda {
      background-size: cover;
    }

    .giant-panda-heading {
      font-size: 54px;
      margin: 84px 0 0 0;
    }

    .giant-panda-circle {
      width: 238px;
      height: 238px;
      bottom: 6px;
      right: 52px;
    }

    .giant-panda-button {
      align-self: flex-start;
      margin: -8px 0 40px 0;
    }

    .flowers-bg {
      background: url(../../assets/images/leaves/flower_foto1.png) no-repeat
          106% 0px / 24.5%,
        url(../../assets/images/leaves/palm_foto-mobile.png) no-repeat -14% 100% /
          31%,
        url(../../assets/images/leaves/strelitzia1.png) no-repeat 100% 100% /
          27%;
    }

    .bamboo-cap-container {
      padding-top: 60px;
      margin-bottom: 80px;
    }

    .bamboo-cap-text {
      flex-basis: 495px;
    }

    .bamboo-cap-heading {
      margin-left: 4px;
    }

    .bamboo-cap-subtitle {
      margin: 31px 0 21px 4px;
    }

    .pets-container {
      gap: 60px;
    }

    .pets-cards-container {
      justify-content: space-between;
      row-gap: 21px;
    }

    .friend-container {
      max-width: 100%;
    }

    .friend-heading-first {
      margin: 12px 0 22px 0;
      font-size: 42px;
    }

    .friend-subtitle {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .friend-subtitle,
    .friend-text-bold,
    .friend-text {
      margin-left: 19px;
      margin-right: 19px;
    }

    .friend-heading-second {
      margin: 33px 0 23px 0;
    }

    .example-cards {
      margin-left: 20px;
      margin-right: 32px;
    }

    .friend-button {
      margin: 42px 0 60px 0;
    }

    .example-card-arrow-mobile {
      top: -16px;
    }

    .arrow-mobile-first {
      left: 23%;
    }

    .arrow-mobile-second {
      right: 26%;
    }

    .testimonials {
      padding: 64px 0 80px 0;
      background-size: 20%;
      background-position: 102% 116%;
    }

    .testimonials-card {
      padding-top: 9px;
      padding-left: 8px;
    }

    .testimonials-button {
      margin-top: 40px;
    }
  }

  .gorilla-card,
  .penguin-card {
    display: none;
  }

  .pets-card-img {
    width: 285px;
  }

  .card-bottom {
    margin: 1px 8px 9px 12px;
  }

  .card-description-heading {
    line-height: 17px;
    font-size: 12.47px;
  }

  .card-description-text {
    font-size: 11.7px;
  }

  .card-description-banana-icon {
    width: 26px;
  }

  .card-description-fish-icon {
    width: 37px;
  }

  .pets-arrow-mobile-container {
    gap: 31px;
  }

  .pets-button {
    background: var(--orange);
  }

  .feed-a-friend {
    padding: 1px 0 20px 0;
  }

  .friend-container {
    margin-top: 19px;
  }

  .example-cards {
    position: relative;
    justify-content: space-between;
    gap: initial;
  }

  .example-card-arrow {
    display: none;
  }

  .example-card-arrow-mobile {
    display: initial;
    position: absolute;
  }

  .testimonials-cards-container {
    flex-direction: column;
    gap: 15px;
  }

  .testimonials-card {
    flex-basis: 109px;
    padding-bottom: 0;
  }

  .testimonials-card-bottom {
    height: 35px;
  }

  .testimonials-slider {
    display: none;
  }

  .testimonials-button {
    align-self: auto;
    width: 240px;
    background: var(--orange);
  }
}

@media (max-width: 639px) {
  .giant-panda {
    background-size: 120%;
  }

  .giant-panda-heading {
    font-size: 28px;
    margin: 75px 1px 41px 0;
  }

  .giant-panda-circle {
    width: 119px;
    height: 119px;
    bottom: 5px;
    right: 27px;
  }

  .giant-panda-button {
    display: none;
  }

  .flowers-bg {
    background: url(../../assets/images/leaves/flower_foto1.png) no-repeat 117%
        2% / 23%,
      url(../../assets/images/leaves/palm_foto-mobile.png) no-repeat -5% 100% / 22%,
      url(../../assets/images/leaves/strelitzia1.png) no-repeat 108% 100% / 27%;
  }

  .bamboo-cap-container {
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 40px;
  }

  .bamboo-mobile-button {
    display: initial;
    margin-bottom: 31px;
  }

  .bamboo-cap-text {
    flex-basis: auto;
  }

  .bamboo-cap-heading {
    font-size: 24px;
    margin-bottom: 9px;
  }

  .bamboo-cap-subtitle {
    margin: 21px 0 11px 1px;
  }

  .pets-container {
    gap: 20px;
  }

  .pets-cards-container {
    justify-content: center;
    row-gap: 20px;
  }

  .pets-button {
    margin-bottom: 60px;
  }

  .example-cards {
    flex-direction: column;
  }

  .friend-heading-first {
    margin: 21px 0 12px 0;
    font-size: 24px;
  }

  .friend-subtitle {
    margin: 0 0 20px -3px;
    font-size: 18px;
    text-align: center;
    line-height: 120%;
  }

  .friend-text-bold,
  .friend-text {
    display: none;
  }

  .friend-heading-second {
    font-size: 24px;
    margin: 1px 0 20px 0;
  }

  .example-cards {
    align-items: center;
    gap: 42px;
  }

  .example-card-container {
    max-width: 168px;
  }

  .example-card-description {
    margin-top: 10px;
  }

  .monkey-card {
    margin-top: -13px;
  }

  .friend-button {
    margin: 39px 0 40px 0;
  }

  .example-card-arrow-mobile {
    right: -61px;
    transform: rotate(85deg);
  }

  .arrow-mobile-first {
    top: 27%;
  }

  .arrow-mobile-second {
    top: 62%;
  }

  .testimonials {
    padding: 31px 0 60px 0;
    background-size: 19%;
    background-position: 101% 107%;
  }

  .testimonials-heading {
    margin: 0 0 21px 0;
    font-size: 24px;
  }

  .testimonials-card {
    border-width: 2px;
    padding-top: 8px;
    padding-left: 11px;
  }

  .testimonials-card-top {
    gap: 6px;
  }

  .testimonials-card-bottom {
    margin-left: 6px;
  }

  .testimonials-button {
    margin-top: 30px;
  }
}
