:root {
  --black: #000000;
  --white: #ffffff;
  --green: #4b9200;
  --orange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  --yellow: #ffee2e;
  --orange-grad: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --pink-grad: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --red: #d31414;
  --black-blue: #333b41;
  --gray: #767474;
  --gray-smoky: #ababab;
  --light-gray: #f1f3f2;
  --frosted-glass-white: rgba(253, 253, 255, 0.52);
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  background: var(--black);
  backdrop-filter: blur(2px);
}

.header-container {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
}

.active {
  background: var(--orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-logo {
  margin-top: 14px;
  margin-bottom: 14px;
  width: 82px;
  height: 52px;
  border: 1px solid var(--white);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  position: relative;
}

.logo-text {
  line-height: 120%;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.bamboo-icon {
  position: absolute;
  left: 6px;
  bottom: 4px;
}

.header-contacts {
  flex-grow: 0.52;
}

.main {
  background-color: #e5e5e5;
}

.giant-panda {
  background: url(../../assets/images/giant-panda.jpg) no-repeat bottom / cover;
}

.giant-panda-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.giant-panda-heading {
  position: relative;
  z-index: -0;
  margin: 86px 12px 60px 0;
  font-weight: 700;
  font-size: 106px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.heading-yellow {
  color: var(--yellow);
}

.giant-panda-circle {
  position: absolute;
  bottom: 9px;
  right: 96px;
  z-index: -1;
  width: 465px;
  height: 465px;
  background: var(--orange);
  border-radius: 50%;
}

.giant-panda-button {
  cursor: pointer;
  border-radius: 25px;
  border: 0;
  background: var(--orange);
  color: var(--white);
  font-weight: 500;
  padding: 16px 92px;
  margin-top: 4px;
  margin-bottom: 100px;
  margin-right: 98px;
}
