.giant-panda {
  background: url(../../assets/images/giant-panda.jpg) no-repeat bottom / cover;
}

.giant-panda-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.giant-panda-heading {
  position: relative;
  z-index: -0;
  margin: 86px 12px 60px 0;
  font-weight: 700;
  font-size: 106px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.heading-yellow {
  color: var(--yellow);
}

.giant-panda-circle {
  position: absolute;
  bottom: 9px;
  right: 96px;
  z-index: -1;
  width: 465px;
  height: 465px;
  background: var(--orange);
  border-radius: 50%;
}

.giant-panda-button {
  margin: 4px 98px 98px 0;
}

.flowers-bg {
  background: url(../../assets/images/leaves/flower_foto1.png) no-repeat right
      12px,
    url(../../assets/images/leaves/palm_foto.png) no-repeat bottom left,
    url(../../assets/images/leaves/strelitzia1.png) no-repeat bottom right;
  backdrop-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bamboo-cap-container {
  filter: none;
  padding-top: 140px;
  margin-bottom: 180px;
  display: flex;
  justify-content: space-between;
}

.bamboo-cap-img,
.bamboo-cap-small-img {
  backdrop-filter: blur(2px);
}

.bamboo-cap-small-img {
  display: none;
}

.bamboo-mobile-button {
  display: none;
}

.bamboo-cap-text {
  flex-basis: 465px;
  color: var(--black-blue);
  font-weight: 400;
}

.bamboo-cap-text > * {
  font-weight: 400;
  margin-block: 0;
}

.bamboo-cap-heading {
  line-height: 120%;
  font-size: 48px;
  margin-bottom: 20px;
}

.bamboo-cap-subtitle {
  font-size: 24px;
  margin: 55px 0 36px 0;
}

.bamboo-cap-paragraph_first {
  line-height: 22px;
}

.bamboo-cap-paragraph_second {
  line-height: 21px;
}

.pets-container {
  max-width: 1324px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 79px;
}

.cards-and-arrows-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pets-arrow,
.pets-arrow-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 62px;
  height: 62px;
  margin: -8px 1px 0 -1px;
  background: var(--orange);
  border-radius: 50%;
  cursor: pointer;
}

.pets-arrow:hover,
.pets-arrow-mobile:hover {
  background: var(--green);
}

.pets-arrow-left,
.pets-arrow-right {
  filter: invert(100%);
}

.pets-arrow-mobile-container {
  display: none;
}

.pets-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.pets-card {
  border: 1px solid transparent;
  border-radius: 5px;
  background: linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(113.96deg, #fa6f32 1.49%, #fe9013 101.44%) border-box;
}

.pets-card:hover {
  background: none;
}

.alligator-card {
  display: none;
}

.pets-card-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pets-card:hover > .pets-card-img {
  border-radius: 5px;
  transform: scale(1.03);
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 13px 15px 13px;
}

.pets-card,
.pets-card-img,
.card-bottom {
  transition: all 0.5s;
}

.pets-card:hover > .card-bottom {
  transform: translate(0px, -60px);
  margin: 0;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 5px;
}

.card-description > * {
  margin-block: 0;
}

.card-description-heading {
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}

.card-description-text {
  font-weight: 300;
  font-size: 15px;
}

.pets-card:hover .card-description-heading,
.pets-card:hover .card-description-text {
  color: var(--white);
}

.pets-button {
  margin-bottom: 100px;
  background: var(--or3);
}

.feed-a-friend {
  background: var(--orange-grad);
  padding: 69px 0 100px 0;
}

.friend-container {
  margin: 0 auto;
  background: var(--frosted-glass-white);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-container > * {
  margin-block: 0;
  font-weight: 400;
  color: var(--black-blue);
}

.friend-subtitle,
.friend-text-bold,
.friend-text {
  align-self: flex-start;
  margin-left: 99px;
}

.friend-heading-first {
  margin: 41px 0 34px 0;
  font-size: 48px;
  color: var(--or3);
}

.friend-subtitle {
  font-size: 24px;
  margin-bottom: 41px;
}

.friend-text-bold {
  margin-bottom: 12px;
  font-weight: 500;
}

.friend-text {
  max-width: 863px;
  line-height: 21px;
}

.friend-text-link {
  border-bottom: solid 1px var(--or3);
  color: var(--black-blue);
  text-decoration: none;
}

.friend-heading-second {
  font-size: 36px;
  margin: 62px 0 40px 0;
}

.example-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.example-card-container {
  flex-basis: 168px;
}

.example-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(113.96deg, #fa6f32 1.49%, #fe9013 101.44%) border-box;
}

.example-card-description {
  margin-block: 0;
  margin-top: 30px;
  line-height: 22px;
}

.example-card-arrow {
  margin-bottom: 78px;
}

.example-card-arrow-mobile {
  display: none;
}

.friend-button {
  margin: 64px 0 59px 0;
  padding: 18px 73px;
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
}

.testimonials {
  padding: 143px 0 180px 0;
  background: url(../../assets/images/leaves/leav_foto.png) no-repeat 100% 126%;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-heading {
  margin: 0 0 47px 0;
  color: var(--black-blue);
  font-weight: 400;
  font-size: 36px;
}

.testimonials-cards-container {
  display: flex;
  gap: 30px;
  overflow: hidden;
}

.testimonials-card {
  flex-basis: 268px;
  flex-shrink: 0;
  transition: transform 0.5s;
  padding: 15px 15px 16px 11px;
  border: 4px solid transparent;
  border-radius: 20px;
  background: linear-gradient(var(--light-gray), var(--light-gray)) padding-box,
    var(--pink-grad) border-box;
}

.testimonials-card-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonials-icon {
  filter: invert(43%) sepia(3%) saturate(26%) hue-rotate(315deg)
    brightness(105%) contrast(87%);
}

.testimonials-top-text > * {
  margin-block: 0;
}

.testimonials-top-location,
.testimonials-card-bottom {
  font-weight: 300;
  font-size: 15px;
}

.testimonials-top-name {
  line-height: 19px;
}

.testimonials-top-location {
  color: var(--gray4);
}

.testimonials-card-bottom {
  height: 307px;
  overflow: hidden;
  margin-block: 0;
  margin-top: 10px;
  line-height: 18px;
  color: var(--gray);
}

.testimonials-slider {
  -webkit-appearance: none;
  appearance: none;
  margin: 22px 0 31px 0;
  width: 599px;
  height: 8px;
  border: 0.5px solid transparent;
  border-radius: 5px;
  background: linear-gradient(var(--dark-white), var(--dark-white)) padding-box,
    var(--pink-grad) border-box;
}

.testimonials-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 115.19px;
  height: 6px;
  background: var(--or3);
  border-radius: 5px;
  cursor: pointer;
}

.testimonials-slider::-moz-range-thumb {
  width: 115.19px;
  height: 6px;
  background: var(--or3);
  border-radius: 5px;
  cursor: pointer;
}

.testimonials-slider::-webkit-slider-thumb:hover {
  background: var(--orange-dark);
}

.testimonials-slider::-moz-range-thumb:hover {
  background: var(--orange-dark);
}

.testimonials-button {
  align-self: flex-start;
  background: var(--or3);
}
