{
  "parser": "@babel/eslint-parser",
  "root": true,
  "extends": "airbnb-base",
  "rules": {
    "import/no-cycle": "off",
    "no-alert": "off",
    "no-restricted-globals": ["off", "confirm"]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
