:root {
  --black: #000000;
  --white: #ffffff;
  --green: #4b9200;
  --orange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  --orange-dark: #e47209;
  --or3: #fe9013;
  --yellow: #ffee2e;
  --orange-grad: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --pink-grad: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --red: #d31414;
  --magenta-dark: #111115;
  --black-blue: #333b41;
  --cyan-blue: #404950;
  --cyan-blue-light: #72828e;
  --cyan-blue-verylight: #929699;
  --gray: #767474;
  --gray-transparent: rgba(196, 196, 196, 0.5);
  --gray4: #bdbdbd;
  --gray-smoky: #ababab;
  --light-gray: #f1f3f2;
  --dark-white: #f5f7f6;
  --frosted-glass-white: rgba(253, 253, 255, 0.52);
  --white-transparent: rgba(255, 255, 255, 0.52);
}

html {
  scroll-behavior: smooth;
}

.button {
  cursor: pointer;
  width: 298px;
  height: 54px;
  border: 0;
  border-radius: 25px;
  color: var(--white);
  background: var(--orange);
  font-weight: 500;
  text-transform: uppercase;
}

.square-button {
  border-radius: 5px;
}

.button:hover {
  background: var(--orange-dark);
}

.button:active {
  background: var(--green);
}

.wrapper {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  background: var(--black);
  backdrop-filter: blur(2px);
}

.header-container {
  display: flex;
}

.header-container-mobile {
  display: none;
}

.header-container,
.header-container-mobile {
  margin-block: 0;
  padding-inline-start: 0;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
}

.header-link:hover:not(.logo-container) {
  background: var(--orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.link-selected {
  background: var(--orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: default;
}

.header-logo {
  margin-top: 14px;
  margin-bottom: 14px;
  width: 82px;
  height: 52px;
  border: 1px solid var(--white);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  position: relative;
}

.logo-text {
  line-height: 120%;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-block: 0;
}

.bamboo-icon {
  position: absolute;
  left: 6px;
  bottom: 4px;
}

.header-contacts {
  flex-grow: 0.52;
}

.header-burger {
  cursor: pointer;
  width: 18px;
  height: 10px;
  background: url(../icons/menu/burger_menu.svg);
}

.footer {
  background: var(--magenta-dark);
  color: var(--white);
}

.footer-container {
  display: flex;
  align-items: flex-end;
  padding: 41px 0 50px 0;
}

.footer-container-tablet {
  display: none;
  padding: 11px 0 13px 0;
}

.footer-container-mobile {
  display: none;
}

.footer-container,
.footer-container-tablet,
.footer-container-mobile {
  justify-content: space-between;
}

.footer-logo {
  width: 82px;
  height: 52px;
  border: 0.5px solid var(--white);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo-link {
  color: var(--white);
  text-decoration: none;
}

.footer-donate-button {
  display: inline-block;
  margin: 69px 0 43px 0;
  padding: 18px 49px;
  text-decoration: none;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer-social-container {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  color: var(--white);
  text-decoration: none;
}

.social-icon {
  width: 26px;
  height: 26px;
  background-color: var(--gray-transparent);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-container:hover > .social-icon {
  background-color: var(--green);
}

.social-facebook {
  background-image: url(../../assets/icons/socials/facebook_icon.svg);
}

.social-twitter {
  background-image: url(../../assets/icons/socials/twitter_icon.svg);
}

.social-instagram {
  background-image: url(../../assets/icons/socials/instagram_icon.svg);
}

.social-youtube {
  background-image: url(../../assets/icons/socials/youtube_icon.svg);
}

.social-text {
  line-height: 22px;
}

.footer-social-container:hover > .social-text {
  color: var(--green);
}

.footer-center {
  margin: 0 32px 0 95px;
}

.footer-center-container {
  display: flex;
  margin-block: 0;
  padding-inline: 0;
  gap: 58px;
}

.footer-center-list {
  list-style-type: none;
}

.footer-center-link {
  color: var(--white);
  text-decoration: none;
}

.footer-center-link:hover {
  background: var(--orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer-right {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscription-heading {
  margin-block: 0;
  margin-bottom: 14px;
  font-size: 24px;
}

.subscription-email {
  width: 228px;
  padding: 10px;
  border: 0.7px solid transparent;
  border-radius: 2px;
  line-height: 22px;
  color: var(--white);
}

.subscription-email:focus {
  outline: none;
}

.subscription-email:valid {
  background: linear-gradient(var(--magenta-dark), var(--magenta-dark))
      padding-box,
    var(--green) border-box;
}

.subscription-email:invalid {
  background: linear-gradient(var(--magenta-dark), var(--magenta-dark))
      padding-box,
    var(--red) border-box;
}

.subscription-email:placeholder-shown {
  background: linear-gradient(var(--magenta-dark), var(--magenta-dark))
      padding-box,
    var(--orange) border-box;
}

.subscription-email::placeholder {
  color: var(--gray4);
}

.subscription-submit {
  margin-left: 0px;
  cursor: pointer;
  padding: 10px 39px;
  border-radius: 5px;
  line-height: 22px;
  background: var(--light-gray);
}

.subscription-email:valid + .subscription-submit {
  color: var(--green);
  border: 1px solid var(--green);
}

.subscription-email:invalid + .subscription-submit {
  color: var(--red);
  border: 1px solid var(--red);
}

.subscription-email:placeholder-shown + .subscription-submit {
  color: var(--black);
  border: 1px solid var(--black-blue);
}

.footer-right-bottom {
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-right-bottom-text {
  margin-block: 0;
  font-weight: 100;
  opacity: 0.5;
  border-bottom: 1px solid transparent;
}

.footer-right-bottom:hover > .footer-right-bottom-text {
  color: var(--green);
  border-color: var(--green);
}
