@media (max-width: 1010px) {
  .subscription-email {
    width: 210px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 940px;
  }

  .header-logo {
    margin-right: 63px;
  }

  .header-about,
  .header-map,
  .header-zoos,
  .header-donate {
    margin-right: 48px;
  }

  .header-contacts {
    flex-grow: 1;
  }

  .footer-container {
    justify-content: initial;
  }

  .footer-center-container {
    gap: 48px;
  }

  .footer-right {
    position: relative;
    flex-direction: unset;
  }

  .footer-subscription {
    position: absolute;
    right: 35px;
    width: 363px;
  }

  .subscription-email {
    width: 228px;
  }
}

@media (max-width: 890px) {
  .footer-container {
    display: none;
  }

  .footer-container-tablet {
    display: flex;
  }

  .footer-right {
    flex-direction: column;
  }

  .footer-container-tablet > .footer-right {
    margin-left: 0;
  }

  .footer-socials {
    align-self: flex-end;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 600px;
  }

  .wrapper > .header {
    position: fixed;
  }

  .header {
    width: 100%;
  }

  .header-container {
    display: none;
  }

  .header-container-mobile {
    display: flex;
  }

  .header-logo {
    border: none;
    margin: 3px 0 2px 0;
    width: auto;
    height: auto;
  }

  .logo-text {
    font-size: 12px;
  }

  .bamboo-icon {
    left: 3px;
    bottom: 3px;
    height: 13px;
  }

  .footer-donate-button {
    margin: 33px 0 99px 0;
  }

  .footer-center-container {
    gap: 37px;
  }

  .footer-socials {
    row-gap: 20px;
  }

  .footer-logo-link > .logo-text {
    font-size: 20px;
  }

  .footer-logo-link > .bamboo-icon {
    left: 6px;
    bottom: 4px;
    height: auto;
  }
}
