@media (max-width: 1599px) {
  @media (min-width: 1000px) {
    .container {
      max-width: 940px;
    }

    .header-logo {
      margin-right: 63px;
    }

    .header-about,
    .header-map,
    .header-zoos,
    .header-donate {
      margin-right: 48px;
    }

    .header-contacts {
      flex-grow: 1;
    }

    .footer-container {
      justify-content: initial;
    }

    .footer-center-container {
      gap: 48px;
    }

    .footer-right {
      flex-direction: unset;
    }

    .footer-right {
      position: relative;
    }

    .footer-subscription {
      position: absolute;
      right: 35px;
      width: 363px;
    }

    .subscription-email {
      width: 228px;
    }
  }
}

@media (max-width: 999px) {
  @media (min-width: 640px) {
    .container {
      max-width: 600px;
    }

    .footer-container-tablet {
      display: flex;
    }

    .footer-socials {
      align-self: flex-end;
      gap: 20px;
    }

    .footer-donate-button {
      margin: 33px 0 99px 0;
    }

    .footer-logo-link > .logo-text {
      font-size: 20px;
    }

    .footer-logo-link > .bamboo-icon {
      left: 6px;
      bottom: 4px;
      height: auto;
    }

    .footer-right {
      flex-direction: column;
    }

    .footer-container-tablet > .footer-right {
      margin-left: 0;
    }

    .footer-center-container {
      gap: 37px;
    }
  }

  .wrapper > .header {
    position: fixed;
  }

  .header {
    width: 100%;
  }

  .header-container {
    display: none;
  }

  .header-container-mobile {
    display: flex;
  }

  .header-logo {
    border: none;
    margin: 3px 0 2px 0;
    width: auto;
    height: auto;
  }

  .logo-text {
    font-size: 12px;
  }

  .bamboo-icon {
    left: 3px;
    bottom: 3px;
    height: 13px;
  }

  .footer-container {
    display: none;
  }
}

@media (max-width: 639px) {
  .container {
    max-width: 300px;
  }

  .footer-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 0 22px 0;
  }

  .footer-socials {
    flex-direction: initial;
    gap: 30px;
  }

  .footer-donate-button {
    margin: 0;
  }

  .footer-center {
    margin: 0;
  }

  .footer-logo {
    width: auto;
    height: auto;
    border: none;
  }

  .footer-logo-link > .logo-text {
    font-size: 19px;
  }

  .footer-logo-link > .bamboo-icon {
    left: 72px;
    bottom: 5px;
    height: auto;
  }

  .footer-right-bottom {
    gap: 14px;
  }

  .footer-right-bottom-text {
    font-size: 15px;
  }

  .footer-center-container {
    gap: 30px;
  }
}
